body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  margin: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 100%;
  margin: 10px;
  border: 2px solid black;
  padding: 10px;
}

.box img {
  width: 100%;
}

/* ========================= */
/* TABLET VIEW */
/* ========================= */

@media screen and (min-width: 772px) {

  .box {
    width: 45%;
  }

  .box img {
    max-height: 30vh;
    object-fit: cover;
  }
}

/* ========================= */
/* LARGE SCREEN VIEW */
/* ========================= */

@media screen and (min-width: 998px) {

  .box {
    width: 30%;
  }
}